<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
%head
  %meta{charset: 'utf-8'}
  %meta{name: 'viewpost', content: 'width=device-width, initial-scale=1.0'}

  %title= content_for?(:title) ? yield(:title) : 'YOUR_TITLE_HERE'.capitalize

  = stylesheet_link_tag 'application'
  = javascript_include_tag 'vendor/custom.modernizr'
  = csrf_meta_tags

%body{ data: { no_turbolink: true } }
  #user-widget
    - if current_user
      Welcome,
      %strong= current_user.name
      = link_to "Sign out", signout_path, id: "sign_out"
    - else
      = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
  = yield
